*body {
    background-color: #f5f5f5;
    border: 1px solid #d5d5d5;
}

div {
    text-align: center;
    border: 1px solid #d5d5d5;
    padding: 50px;
}

h1{
    font-weight: 32px;
    color: #000000;
    margin-bottom: 10px;
}

img {
    width: 190px;
    margin-top: 20px;
}

h2 {
    font-weight: 24px;
    color: #000000;
    margin-top: 28px;
    text-align: center;
    
}

h3 {
    font-weight: 18px;
    color: #000000;
    margin-top: 15px;
    text-align: center;
}

p {
    font-weight: 16px;
    line-height: 30px;
    width: 930px;
    margin: 15px auto 30px auto;
    color: #000000;
    text-align: center;
}

span {
    font-weight: bold;
}

a {
    font-weight: 14px;
    border-radius: 25px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #49B970;
    cursor: pointer;
}

a:hover {
    border: 2px solid #ff0000da;
    border-radius: 30px;
    color: #49b970;
    background-color: #e7e5e5;
    transition: 350ms linear;
    transform: scale(1.2); 
}